/*align feature list div*/

.features {
   text-align: left;
}

/*Center feature list bullets, will change*/

.features ul {
   list-style-position: inside;
}

/*******************************/

/* For customizing Semantic UI */

/*******************************/

.ui.fixed.secondary.menu {
   padding: 0.5em 0.5em;
   background-color: #ffffff;
}

.ui.secondary.menu .header.item:hover {
   background-color: #ffffff;
}

.ui.secondary.menu .active.item, .ui.secondary.menu .active.item:hover {
   background-color: #67da6a;
   color: #ffffff;
}

.ui.main.container {
   margin-top: 5em;
}

/* Trail divs */

#trails .one.column.centered.row {
   border: 0.2em solid #32b136;
   border-radius: 1.5em;
   padding: 0.1em;
   margin-top: 1em;
   height: 38%;
}

#trails .one.column.centered.row img {
   width: 100%;
   max-height: 40vh;
   border-radius: 0.8em;
}

#trails .one.column.centered.row h2, .one.column.centered.row p {
   text-align: left;
}

.ui.footer.segment {
   margin: 10em 0em 0em 0em;
   padding: 5em 0em;
   background-color: #a3b4a4
}

.ui.very.basic.table tr td:first-child {
   color: #32b136;
   font-weight: bold;
}

.ui.very.basic.table tr td#fitness_level {
   font-weight: bold;
}

.ui.inverted.masthead {
   margin-top: 5em;
   height: 38em;
   background-color: #2d8f33;
   background-image: url('../images/sample3.jpg') !important;
   background-size: cover !important;
   background-position: center center;
}

/* .ui.inverted.masthead .ui.container {
   margin: 0em 0em 0em 0em;
} */